body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fcfbfa;
}

label {
	font-size: 75%;
	padding-right: 2em;
	vertical-align: middle;
}

#container {
	margin: 0 auto;
	max-width: 550px;
	padding: 50px;
}

#header {
	text-align: center;
	padding-bottom: 5em;
}

#header h1 {
	color: #868482;
    font-size: 22px;
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing: 0.15em;
    margin: 0;
}

#header img {
	vertical-align: middle;
	margin-right: 10px;
}

#sentence {
	text-align: center;
	line-height: 1.7;
	font-size: 28px;
	font-weight: 300;
}

span.char {
	padding: .1em .025em;
	color: #444;
}

span.current {
	border-bottom: 2px dotted #999;
	color: #AA4488;
}

span.correct {
	border-bottom: 2px solid #3C3;
	background-color: #CFC;
}

span.incorrect {
	border-bottom: 2px solid #C33;
	background-color: #FCC;
}

#options {
	border-top: 1px dashed #CCC;
    margin: 5em 0 0;
    padding: 0.5em 0;
}

#stats {
	border: 1px solid #EEE;
    border-radius: 5px;
    margin: 0 auto;
	overflow: hidden;
	background-color: #FFF;
}

.stat {
	float: left;
    margin: 3% 0;
    padding: 0 3%;
    text-align: center;
    width: 27%;
	border-right: 1px solid #EEE;
}

.stat:last-child {
	border-right: 0;
}

.stat h3 {
	font-size: 85%;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 10px;
	color: #AAA;
}

.stat p {
	font-size: 125%;
	margin-top: 0;
	margin-bottom: 10px;
}

.switch {
	border-radius: 1em;
	border: 1px solid #DDD;
	background: #FFF;
	cursor: pointer;
	width: 6em;
	font-size: 60%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.switch .switch-slide {
	width: 12em;
	white-space: nowrap;
	transition: all .23s ease-out 0s;
	-moz-transition: all .23s ease-out 0s;
	-webkit-transition: all .23s ease-out 0s;
	position: relative;
	display: block;
}

.switch .switch-slide > span {
	height: 2em;
	line-height: 2em;
	width: 5em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	display: inline;
	float: left;
	vertical-align: middle;
}

.switch .switch-slide .switch-slide-toggle {
	border-radius: 1em;
	width: 2em;
	position: relative;
	z-index: 1;
	margin-right: -1em;
	margin-left: -1em;
	background-color: #FFF;
}

.switch .switch-slide .switch-slide-label-on {
	color: #3C3;
	background-color: #EFE;
}

.switch .switch-slide .switch-slide-label-off {
	color: #C33;
	background-color: #FEE;
}

.switch.off .switch-slide {
	margin-left: -4em;
}